@import "tailwindcss";

* {
  /* --theme-color-1: #ff5757;
  --theme-color-2: #8c52ff; */

}

@theme {
  --color-theme-1: #ff5757;
  --color-theme-2: #8c52ff;
  --color-theme-foreground: white;
  --color-normal-text: black;
  --color-special-text: var(--color-green-800);
  --color-menu-background: color-mix(in oklab, var(--color-theme-1), var(--color-theme-2));
  --color-menu-item: white;
  --color-background: color-mix(in oklab, var(--color-menu-background) 5%, transparent);
  --color-link: color-mix(in oklab, var(--color-menu-background) 90%, black)/* #7a1b4c */;

  --breakpoint-xs: 25rem;
}

.bg-menu-background {
  background: linear-gradient(90deg, var(--color-theme-1) 0%, var(--color-theme-2) 100%);
}