@import "tailwindcss";

@theme {
  --color-normal-text: black;
  --color-special-text: var(--color-green-800);
  --color-menu-background: #1c050d;
  --color-menu-item: white;
  --color-background: #f4ebee;
  --color-link: #7a1b4c;
}